<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>{% block title %}Cyrene{% endblock %}</title>

    <link
        rel="stylesheet"
        href="/static/css/style.css"
    >
</head>

<body>

    <aside class="sidebar">

        <div class="brand">
            <div class="brand-icon">✦</div>

            <div class="brand-name">
                Cyrene
            </div>
        </div>

        <nav class="navigation">

            <a href="/" class="nav-item active">
                <span class="nav-icon">
                    <img
                        src="/static/images/Home.png"
                        alt="Home">
                </span>
                <span>Home</span>
            </a>

            <a href="/characters" class="nav-item">
                <span class="nav-icon">
                    <img
                        src="/static/images/Characters.png"
                        alt="Characters">
                </span>
                <span>Characters</span>
            </a>

            <a href="/weapons" class="nav-item">
                <span class="nav-icon">
                    <img
                        src="/static/images/Weapons.png"
                        alt="Weapons">
                </span>
                <span>Weapons</span>
            </a>

            <a href="/planner" class="nav-item">
                <span class="nav-icon">
                    <img
                        src="/static/images/Planner.png"
                        alt="Planner">
                </span>
                <span>Planner</span>
            </a>

            <a href="/achievements" class="nav-item">
                <span class="nav-icon">
                    <img
                        src="/static/images/Achievements.png"
                        alt="Achievements">
                </span>
                <span>Achievements</span>
            </a>

            <a href="/wishes" class="nav-item">
                <span class="nav-icon">
                    <img
                        src="/static/images/Wishes.png"
                        alt="Wishes">
                </span>
                <span>Wishes</span>
            </a>

        </nav>

        <div class="sidebar-bottom">

            <a href="/settings" class="nav-item">
                <span class="nav-icon">
                    <img
                        src="/static/images/Settings.png"
                        alt="Settings">
                </span>
                <span>Settings</span>
            </a>

        </div>

    </aside>


    <main class="main-content">

        {% block content %}
        {% endblock %}

    </main>


    <script
        src="{{ url_for('static', path='js/app.js') }}"
    ></script>

</body>
</html>